{
    "openapi": "3.0.0",
    "info": {
        "title": "Api's Clinica Recoleta",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://endpoint.centrooftalmorecoleta.net"
        },
        {
            "url": "http://localhost:8000"
        }
    ],
    "paths": {
        "/api/paciente/all": {
            "get": {
            "tags": [
                "Paciente"
            ],
            "summary": "Obtener todos los pacientes",
            "description": "Retorna una lista de todos los pacientes disponibles",
            "operationId": "AllPacientes",
            "responses": {
                "200": {
                "description": "Operación exitosa",
                "content": {
                    "application/json": {
                    "schema": {
                        "properties": {
                        "status": {
                            "type": "boolean"
                        },
                        "pacientes": {
                            "type": "array",
                            "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                "type": "number"
                                },
                                "Nombre": {
                                "type": "string"
                                },
                                "Apellido": {
                                "type": "string"
                                },
                                "FechaNacimiento": {
                                "type": "string"
                                },
                                "Genero": {
                                "type": "string"
                                },
                                "Direccion": {
                                "type": "string"
                                },
                                "Telefono": {
                                "type": "string"
                                },
                                "Mail": {
                                "type": "string"
                                },
                                "tipoDocumento": {
                                "type": "number"
                                },
                                "NumDocumento": {
                                "type": "number"
                                },
                                "Cuit": {
                                "type": "number"
                                },
                                "usuario": {
                                "type": "string"
                                }
                            }
                            }
                        }
                        }
                    }
                    }
                }
                }
            },
            "security": [
                {
                "apiAuth": []
                }
            ]
            }
        },
        "/api/paciente/{id}": {
            "get": {
            "tags": [
                "Paciente"
            ],
            "summary": "Obtener paciente por ID",
            "description": "Retorna un paciente específico por su ID",
            "operationId": "getPacienteById",
            "parameters": [
                {
                "name": "id",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer"
                },
                "description": "ID del paciente a obtener"
                }
            ],
            "responses": {
                "200": {
                "description": "Operación exitosa",
                "content": {
                    "application/json": {
                    "schema": {
                        "type": "object",
                        "properties": {
                        "status": {
                            "type": "boolean"
                        },
                        "paciente": {
                            "type": "object",
                            "properties": {
                            "id": {
                                "type": "number"
                            },
                            "Nombre": {
                                "type": "string"
                            },
                            "Apellido": {
                                "type": "string"
                            },
                            "FechaNacimiento": {
                                "type": "string"
                            },
                            "Genero": {
                                "type": "string"
                            },
                            "Direccion": {
                                "type": "string"
                            },
                            "Telefono": {
                                "type": "string"
                            },
                            "Mail": {
                                "type": "string"
                            },
                            "tipoDocumento": {
                                "type": "number"
                            },
                            "NumDocumento": {
                                "type": "number"
                            },
                            "Cuit": {
                                "type": "number"
                            },
                            "usuario": {
                                "type": "string"
                            }
                            }
                        }
                        }
                    }
                    }
                }
                }
            },
            "security": [
                {
                "apiAuth": []
                }
            ]
            }
        },
        "/api/pacienteDni/{pacienteDni}": {
            "get": {
              "tags": [
                "Paciente"
              ],
              "summary": "Obtener paciente por DNI",
              "description": "Retorna un paciente específico por su número de documento",
              "operationId": "getPacienteByDni",
              "parameters": [
                {
                  "name": "pacienteDni",
                  "in": "path",
                  "required": true,
                  "schema": {
                    "type": "integer"
                  },
                  "description": "Número de documento del paciente a obtener"
                }
              ],
              "responses": {
                "200": {
                  "description": "Operación exitosa",
                  "content": {
                    "application/json": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "boolean"
                          },
                          "paciente": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "Nombre": {
                                "type": "string"
                              },
                              "Apellido": {
                                "type": "string"
                              },
                              "FechaNacimiento": {
                                "type": "string"
                              },
                              "Genero": {
                                "type": "string"
                              },
                              "Direccion": {
                                "type": "string"
                              },
                              "Telefono": {
                                "type": "string"
                              },
                              "Mail": {
                                "type": "string"
                              },
                              "tipoDocumento": {
                                "type": "number"
                              },
                              "NumDocumento": {
                                "type": "number"
                              },
                              "Cuit": {
                                "type": "number"
                              },
                              "usuario": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "security": [
                {
                  "apiAuth": []
                }
              ]
            }
        },             
        "/api/cp/all": {
            "get": {
                "tags": [
                    "Codigo Postal"
                ],
                "summary": "Obtener todos los códigos postales",
                "description": "Retorna una lista de todos los códigos postales disponibles",
                "operationId": "allCodigoPostal",
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "codigos_postales": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "codigo": {
                                                        "type": "string"
                                                    },
                                                    "descripcion": {
                                                        "type": "string"
                                                    },
                                                    "usuario": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/cp/{codigoPostalId}": {
            "get": {
                "tags": [
                    "Codigo Postal"
                ],
                "summary": "Obtener codigo postal por Id",
                "description": "Retorna un array del codigo postal disponible",
                "operationId": "getCodPostById",
                "parameters": [
                    {
                        "name": "codigoPostalId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "codigos_postales": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "codigo": {
                                                        "type": "string"
                                                    },
                                                    "descripcion": {
                                                        "type": "string"
                                                    },
                                                    "usuario": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        },
        "/api/cpNumber/{codigoPostalNumber}": {
            "get": {
                "tags": [
                    "Codigo Postal"
                ],
                "summary": "Obtener codigo postal por numero",
                "description": "Retorna un array del codigo postal disponible",
                "operationId": "getCodPostByCodigo",
                "parameters": [
                    {
                        "name": "codigoPostalNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operación exitosa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean"
                                        },
                                        "codigos_postales": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "codigo": {
                                                        "type": "string"
                                                    },
                                                    "descripcion": {
                                                        "type": "string"
                                                    },
                                                    "usuario": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "apiAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiAuth": {
                "type": "http",
                "description": "Login with email and password to get the authentication token",
                "name": "Token based Based",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}